*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.key{
    background-color: slategrey;
    color:snow;
    text-align: center;
    line-height: 75px;
    width: 65px;
    margin: 15px;
}